example/flow1.json
[{"id":"92ff8221.fa536","type":"mqtt out","z":"adc04b5c.9a4068","name":"add item","topic":"homebridge/to/add","qos":"","retain":"","broker":"c3544603.337768","x":380,"y":120,"wires":[]},{"id":"ca65edce.1f089","type":"inject","z":"adc04b5c.9a4068","name":"add temperature","topic":"","payload":"{\"name\":\"temperature\",\"service\":\"TemperatureSensor\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":170,"y":120,"wires":[["92ff8221.fa536"]]},{"id":"827acd31.2b581","type":"mqtt out","z":"adc04b5c.9a4068","name":"add item","topic":"homebridge/to/add","qos":"","retain":"","broker":"c3544603.337768","x":340,"y":180,"wires":[]},{"id":"be321d6c.e53eb","type":"inject","z":"adc04b5c.9a4068","name":"add humidity","topic":"","payload":"{\"name\":\"humidity\",\"service\":\"HumiditySensor\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":150,"y":180,"wires":[["827acd31.2b581"]]},{"id":"c25986a6.0e7b78","type":"mqtt out","z":"adc04b5c.9a4068","name":"","topic":"homebridge/to/set","qos":"","retain":"","broker":"c3544603.337768","x":870,"y":240,"wires":[]},{"id":"fedb9e36.bfa32","type":"mqtt in","z":"adc04b5c.9a4068","name":"","topic":"temperature_humidity_sensor","qos":"2","broker":"c3544603.337768","x":180,"y":240,"wires":[["b50802d0.11bf5"]]},{"id":"b50802d0.11bf5","type":"json","z":"adc04b5c.9a4068","name":"json","x":410,"y":240,"wires":[["9ad30445.a7bdd8","5f4d92b3.7a727c"]]},{"id":"9ad30445.a7bdd8","type":"template","z":"adc04b5c.9a4068","name":"prepare Humidity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"name\":\"humidity\",\"characteristic\":\"CurrentRelativeHumidity\",\"value\":{{payload.Humidity}}}","x":610,"y":220,"wires":[["c25986a6.0e7b78"]]},{"id":"5f4d92b3.7a727c","type":"template","z":"adc04b5c.9a4068","name":"prepare Temperature","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"name\":\"temperature\",\"characteristic\":\"CurrentTemperature\",\"value\":{{payload.Temperature}}}","x":620,"y":260,"wires":[["c25986a6.0e7b78"]]},{"id":"dbb7b465.432458","type":"mqtt out","z":"adc04b5c.9a4068","name":"send state relay_switch","topic":"relay_switch","qos":"","retain":"","broker":"c3544603.337768","x":790,"y":540,"wires":[]},{"id":"6ee4acb3.2e9914","type":"mqtt out","z":"adc04b5c.9a4068","name":"add item","topic":"homebridge/to/add","qos":"","retain":"","broker":"c3544603.337768","x":340,"y":380,"wires":[]},{"id":"ae19b847.c67508","type":"inject","z":"adc04b5c.9a4068","name":"add switch","topic":"","payload":"{\"name\": \"relay\", \"service\": \"Switch\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":150,"y":380,"wires":[["6ee4acb3.2e9914"]]},{"id":"ab439482.dc3078","type":"mqtt in","z":"adc04b5c.9a4068","name":"set state relay","topic":"homebridge/from/set","qos":"2","broker":"c3544603.337768","x":130,"y":560,"wires":[["72f4ef0e.52b72"]]},{"id":"72f4ef0e.52b72","type":"json","z":"adc04b5c.9a4068","name":"json","x":310,"y":560,"wires":[["21a0f49c.217c8c"]]},{"id":"5d6fc839.772af8","type":"mqtt out","z":"adc04b5c.9a4068","name":"request state of relay","topic":"homebridge/to/get","qos":"","retain":"","broker":"c3544603.337768","x":520,"y":440,"wires":[]},{"id":"c983814a.c9741","type":"mqtt in","z":"adc04b5c.9a4068","name":"HELO","topic":"HELO","qos":"2","broker":"c3544603.337768","x":110,"y":440,"wires":[["eb8e1b4e.016d98"]]},{"id":"eb8e1b4e.016d98","type":"change","z":"adc04b5c.9a4068","name":"request state","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"name\": \"relay\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":440,"wires":[["5d6fc839.772af8"]]},{"id":"aeca7fc7.a2ff9","type":"mqtt in","z":"adc04b5c.9a4068","name":"restore state","topic":"homebridge/from/response","qos":"2","broker":"c3544603.337768","x":130,"y":500,"wires":[["72626fff.fbfff"]]},{"id":"72626fff.fbfff","type":"json","z":"adc04b5c.9a4068","name":"","x":310,"y":500,"wires":[["9c79e2ff.ca3e4"]]},{"id":"6fcdc2c4.8331ec","type":"comment","z":"adc04b5c.9a4068","name":"relay","info":"","x":110,"y":320,"wires":[]},{"id":"b56a0c8a.79eb9","type":"comment","z":"adc04b5c.9a4068","name":"temperature+humidity","info":"","x":160,"y":60,"wires":[]},{"id":"9c79e2ff.ca3e4","type":"function","z":"adc04b5c.9a4068","name":"pass without changes","func":"if (msg && msg.payload && msg.payload.relay) {\n    return msg.payload.relay.characteristics.relay.On === false ? node.send(msg) : { payload: true };\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":500,"wires":[["dbb7b465.432458"]]},{"id":"21a0f49c.217c8c","type":"function","z":"adc04b5c.9a4068","name":"prepare state","func":"\nreturn { payload: msg.payload.value };","outputs":1,"noerr":0,"x":490,"y":560,"wires":[["dbb7b465.432458"]]},{"id":"c3544603.337768","type":"mqtt-broker","z":"adc04b5c.9a4068","broker":"192.168.0.88","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]