example/flow1.json
[{"id":"92ff8221.fa536","type":"mqtt out","z":"adc04b5c.9a4068","name":"","topic":"homebridge/to/add","qos":"","retain":"","broker":"c3544603.337768","x":410,"y":80,"wires":[]},{"id":"ca65edce.1f089","type":"inject","z":"adc04b5c.9a4068","name":"add temperature","topic":"","payload":"{\"name\":\"temperature\",\"service\":\"TemperatureSensor\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":170,"y":80,"wires":[["92ff8221.fa536"]]},{"id":"827acd31.2b581","type":"mqtt out","z":"adc04b5c.9a4068","name":"","topic":"homebridge/to/add","qos":"","retain":"","broker":"c3544603.337768","x":410,"y":140,"wires":[]},{"id":"be321d6c.e53eb","type":"inject","z":"adc04b5c.9a4068","name":"add humidity","topic":"","payload":"{\"name\":\"humidity\",\"service\":\"HumiditySensor\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":150,"y":140,"wires":[["827acd31.2b581"]]},{"id":"44357c6b.039684","type":"mqtt out","z":"adc04b5c.9a4068","name":"","topic":"homebridge/to/set","qos":"","retain":"","broker":"c3544603.337768","x":410,"y":200,"wires":[]},{"id":"af1f7ce5.e0f1c","type":"inject","z":"adc04b5c.9a4068","name":"set humidity","topic":"","payload":"{\"name\":\"humidity\",\"characteristic\":\"CurrentRelativeHumidity\",\"value\":45.0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150,"y":200,"wires":[["44357c6b.039684"]]},{"id":"c25986a6.0e7b78","type":"mqtt out","z":"adc04b5c.9a4068","name":"","topic":"homebridge/to/set","qos":"","retain":"","broker":"c3544603.337768","x":410,"y":260,"wires":[]},{"id":"8b4b77ef.b4a9f8","type":"inject","z":"adc04b5c.9a4068","name":"set temperature","topic":"","payload":"{\"name\":\"temperature\",\"characteristic\":\"CurrentTemperature\",\"value\":25.0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":160,"y":260,"wires":[["c25986a6.0e7b78"]]},{"id":"fedb9e36.bfa32","type":"mqtt in","z":"adc04b5c.9a4068","name":"","topic":"temperature_humidity_sensor","qos":"2","broker":"c3544603.337768","x":180,"y":340,"wires":[["b50802d0.11bf5"]]},{"id":"b50802d0.11bf5","type":"json","z":"adc04b5c.9a4068","name":"json","x":388,"y":341,"wires":[["9ad30445.a7bdd8","5f4d92b3.7a727c"]]},{"id":"9ad30445.a7bdd8","type":"template","z":"adc04b5c.9a4068","name":"prepare Humidity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"name\":\"humidity\",\"characteristic\":\"CurrentRelativeHumidity\",\"value\":{{payload.Humidity}}}","x":570,"y":320,"wires":[["44357c6b.039684"]]},{"id":"5f4d92b3.7a727c","type":"template","z":"adc04b5c.9a4068","name":"prepare Temperature","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"name\":\"temperature\",\"characteristic\":\"CurrentTemperature\",\"value\":{{payload.Temperature}}}","x":580,"y":360,"wires":[["c25986a6.0e7b78"]]},{"id":"dbb7b465.432458","type":"mqtt out","z":"adc04b5c.9a4068","name":"relay_switch","topic":"relay_switch","qos":"","retain":"","broker":"c3544603.337768","x":590,"y":520,"wires":[]},{"id":"6ee4acb3.2e9914","type":"mqtt out","z":"adc04b5c.9a4068","name":"","topic":"homebridge/to/add","qos":"","retain":"","broker":"c3544603.337768","x":410,"y":460,"wires":[]},{"id":"ae19b847.c67508","type":"inject","z":"adc04b5c.9a4068","name":"add switch","topic":"","payload":"{\"name\": \"relay\", \"service\": \"Switch\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":150,"y":460,"wires":[["6ee4acb3.2e9914"]]},{"id":"ab439482.dc3078","type":"mqtt in","z":"adc04b5c.9a4068","name":"relay","topic":"homebridge/from/set","qos":"2","broker":"c3544603.337768","x":110,"y":520,"wires":[["72f4ef0e.52b72"]]},{"id":"72f4ef0e.52b72","type":"json","z":"adc04b5c.9a4068","name":"json","x":250,"y":520,"wires":[["9a8508c3.482648"]]},{"id":"9a8508c3.482648","type":"template","z":"adc04b5c.9a4068","name":"prepare relay","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","x":410,"y":520,"wires":[["dbb7b465.432458"]]},{"id":"c3544603.337768","type":"mqtt-broker","z":"adc04b5c.9a4068","broker":"192.168.0.88","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]